<p>Total Hits: <%= @total_count %></p>
<% if @foods.empty? %>
  <p>No Foods Found</p>
<% else %>
  <% @foods.each do |food| %>
    <div class='gtin-upc'>
      <p>Gtin/Up: <%= food.gtin_upc %></p>
    </div>
    <div class='description'>
      <p>Description: <%= food.description %></p>
    </div>
    <div class='brand-owner'>
      <p>Brand Owner: <%= food.brand_owner %></p>
    </div>
    <div class='ingredients'>
      <p>Ingredients: <%= food.ingredients %></p>
    </div>
  <% end %>
<% end %>
